﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UploadAsync transactions</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="error" style="color: red">@ViewBag.UploadError</div>
            <input type="file" name="file" id="file" />
            <input type="submit" value="Upload" />
        }
    </div>
</body>
</html>
